@import "tailwindcss";
/* Small custom styles */
:root{
  --primary-text-color:#183b56;
  --secondary-text-color:#577592;
  --accent-color:#2294ed;
  --accent-color-dark:#1d69a3;
}

body{
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
  background: #f8fafc;
}
